<div class="row">
  <div class="col-xs-12">
    <div class="request-table-heading-with-filters">
      <h3><%= table_heading %></h3>
      <%= show_filters %>
    </div>
    <table id="sum_avg_min_max_table" class="table table-striped table-bordered">
      <thead>
        <tr>
          <th class="no-sort">Action</th>
          <th>Hits</th>
          <th class="sort-default">Sum</th>
          <th>Avg (ms)</th>
          <th>Min (ms)</th>
          <th>Max (ms)</th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: @result_data.filters[:compare_periods] ? 'table_comparison_row' : 'table_row', collection: @result_data.tabular_data %>
      </tbody>
    </table>
  </div>
</div>
