<div class="row">
  <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-lg-offset-2 col-lg-8">
    <h1>Rails Performance Monitor</h1>
    <br>
    <p>Rails Performance Monitor is an application that is meant to do exactly that: monitor your Rails application performance.</p>
    <p>For more information about setup and config, refer to <a href="https://github.com/yan-hoose/rails-perfmon-app">yan-hoose/rails-perfmon-app</a> (this app) and <a href="https://github.com/yan-hoose/rails-perfmon">yan-hoose/rails-perfmon</a> (companion gem).</p>
  </div>
</div>